/* Q1 */
    h1 {
    color: blue;
}
/* Q2 */
    .colleges{
        background-color: #cc8833;
    }
/* Q3 */
    .topics{
        list-style-type: none;
    }
/* Q4 */
    .img{
        
    } 
        

/* Q5 */

    .div{
        display: inline;
    }
    
    
